<header class="header">
    <h1>Dashboard</h1>
    <div class="header__filter">
        <form action="" method="post" class="header__filter__form">
            <label>Filter:
                <select>
                    <option selected disabled>Shared domains</option>
                    <option value="domain 1">domain 1</option>
                    <option value="domain 2">domain 2</option>
                    <option value="domain 3">domain 3</option>
                </select>
            </label>
            <button type="submit" class="header__filter__button"></button>
        </form>
    </div>
</header>