main {
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  background: #FFFFFF;
  padding: 21px 32px ;
}
.main {
  &__header {
    &__logo {
      a {
        text-decoration: none;
      }
    }
    h2 {
      @include fontStyle(#000000, normal, 500, 15px, 22px);
      display: flex;
      align-items: center;
    }
    h2:before {
      content: 'K';
      text-align: center;
      padding: 3px 8px;
      @include fontStyle(#E5E5E5, normal, 800, 13px, 19px);
      display: inline-block;
      background-color: #000000;
      border-radius: 50%;
      margin-right: 10px;
    }
    border-bottom: $lightGrayLine;
    &__settings {
      img {
        margin: 0 6px;
        cursor: pointer;
      }
      img:last-of-type {
        margin-right: 0;
      }
    }
  }
  &__content{
    //@include dFlexBetween(stretch);
    display: flex;
    &__block:first-of-type {
      padding-left: 0;
      @for $i from 0 to length($scoreColors) {
        li:nth-child(#{$i+1}) {
          color: nth($scoreColors, $i+1);
        }
        @if $i+1 == 2 {
          li:nth-child(#{$i+1}) {
            p {
              color: $grayTopTriangle;
            }
            p:before {
              content: '';
              @include triangle($color: $grayTopTriangle, $direction: top);
            }
          }
        }
      }
    }
    &__block:nth-child(2) {
      ul li div:first-of-type:before {
        @include beforeCircle;
      }
      @for $i from 1 to 5{
        ul li:nth-child(n+#{$i}) div:before {
          opacity: $op;
        }
        @if ($i == 4) {
          ul li:nth-child(n+#{$i}) div:before {
            opacity: unset;
            border: 2px solid rgba(221, 76, 58, 0.5);
          }
        }
        $op: $op - 0.25;
      }
      ul li:nth-child(2) {
        p {
          color: $grayTopTriangle;
        }
        p:before {
          content: '';
          @include triangle($color: $grayTopTriangle, $direction: top);
        }
      }
    }
    &__block:nth-child(3) {
      ul li {
        display: block;
        span {
          margin: 0;
        }
      }
      ul li:before {
        content: '';
        border-radius: 50%;
        border: 2px solid #F18F1C;
        box-sizing: border-box;
        margin-right: 5px;
        vertical-align: middle;
        display: inline-block;
      }
      ul li:last-of-type:before {
        border-color: #27BE88;
      }
      p:last-of-type {
        color: #707683;
        margin: 10px 0;
      }
    }
    &__block:nth-child(4) {
      padding-right: 0px;
      ul li:first-child {
        p:before {
          content: '';
          @include triangle($color: $grayTopTriangle, $direction: top);
        }
        p {
          color: $grayTopTriangle;
        }
      }
      ul li div:first-of-type:before {
        @include beforeCircle;
      }
      @for $i from 1 to 3{
        $op: $op - 0.25;
        ul li:nth-child(n+#{$i}) div:before {
          opacity: $op;
        }
      }
    }
    &__block {
      width: 20%;
      &:nth-child(2n+2) {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 30%;
      }
      canvas {
        width: 100%;
      }
      &__chart {
          width: 80%;
      }
      margin-top: 15px;
      padding: 0 20px;
      color: #334D6E;
      &__title{
        margin: 0;
        margin-bottom: 20px;
        @include fontStyle($grey, normal, 500, 11px, 16px);
      }
      &__score {
        @include dFlexBetween($align: baseline);
        p {
          margin: 0;
          display: flex;
        }
        p:first-child {
          @include fontStyle(#2ED47A, normal, 500, 54px, 54px);
        }
        p:last-child {
          @include fontStyle($red, normal, 500, 15px, 180%);
          &:before {
            content: '';
            @include triangle($color: $red);
          }
        }
      }
      ul {
        padding: 0;
        li {
          @include dFlexBetween($align: baseline);
          margin: 5px 0;
        }
        li p {
          margin: 0;
          display: flex;
          color: $red;
          &:before {
            content: '';
            @include triangle($color: $red);
          }
        }
        li div {
          display: flex;
        }
        span {
          color: $blue;
          margin-right: 8px;
        }
      }
    }
    &__block:nth-child(-n+3) {
      border-right: $lightGrayLine;
    }
  }
}

