$blue: #004BFF;
$grey: #6A707E;
$grayTopTriangle: #2fbd8b;
$red: #DD4C3A;
$lightGrayLine: 1px solid #EBEFF2;
$scoreColors: (#DC4B3E, #F08D30, #22A4EE);
$op:1;

@mixin fontStyle($color: black, $style: normal, $weight: normal, $size: 12px, $height: 18px, $spacing: 0.01em) {
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  letter-spacing: $spacing;
  color: $color;
}

@mixin bgImg($url, $sizeV, $sizeH, $position, $repeat: no-repeat) {
  background-image: $url;
  background-size: $sizeV $sizeH;
  background-repeat: $repeat;
  background-position: $position;
}

@mixin dFlexBetween($align: center, $justify: space-between){
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin triangle($size: 4px, $color: #0aeaea, $direction: bottom) {
  width: 0;
  height: 0;
  border-style: solid;
  @if $direction == top {
    border-width: 0 $size $size $size;
    border-color: transparent transparent $color transparent;
  } @else {
    border-width: $size $size 0 $size;
    border-color: $color transparent transparent transparent;
  }
  margin-right: 6px;
  align-self: center;
}

@mixin beforeCircle() {
  content: '';
  padding: 1px;
  border-radius: 50%;
  border: 2px solid #004BFF;
  box-sizing: border-box;
  width: 1px;
  height: 1px;
  align-self: center;
  margin-right: 5px;
}

body {
  background: #E5E5E5;
  font-family: 'Poppins', sans-serif;
  @include fontStyle();
}

.container {
  width: 1089px;
  margin: 0 auto;
}